body{

  background-image: linear-gradient(#98ff98, #98ff98 );
font-family:dangerMode , calibri, arial;
font-style: italic;
}

h1{font-family: cursive,candara,arial;}

#content{
margin: auto;
  width: 500px;
text-align:justify;

}
.segment{
  border-width:1px;
  border-color:#000000;
  border-style: solid;
padding: 20px;
 }
 p {margin-bottom: 0px;

 }
 .segment img {max-width: 300px;
 float: left;
margin: 0px 5px 5px 0px;
}

.segment .centering {float: none;
margin: auto;}
