canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  body {
    font-size: 24px;
    color: rgb(0, 0, 0);
    float : right
  }

  #content {
    float: right;
    width:60%;
  }
  .box{
    background-color: rgb(255, 123, 123, 0.25);
    border-radius:3px;
    padding: 15px;
    border: 10px solid rgb(122, 129, 255, 0.50);
    font-family:'Papyrus'
  }
  .boxy{
    background-color: rgb(240, 248, 129, 0.25);
    border-radius:3px;
    padding: 15px;
    border: 10px solid rgba(153, 240, 121, 0.5);
    font-family:'Papyrus'
  }

  h1 {
    color: #000000;
  }

  @media screen and (max-width:600px) {
    #content{
        float:none;
        width:100%;
    }
  }
  