canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  body {
    font-size: 24px;
    color: rgb(0, 0, 0);
    float : right
  }

  #content {
    float: right;
    width:60%;
  }
  .box{
    background-color: rgba(111, 190, 255, 0.5);
    border-radius:3px;
    padding: 15px;
    border: 10px solid rgba(76, 153, 216, 0.5);
    font-family:'Papyrus'
  }
  .boxy{
    background-color: rgba(4, 100, 255, 0.5);
    border-radius:3px;
    padding: 15px;
    border: 10px solid rgba(0, 69, 179, 0.5);
    font-family:'Papyrus'
  }

  h1 {
    color: #000000;
  }

  @media screen and (max-width:600px) {
    #content{
        float:none;
        width:100%;
    }
  }
  