#score {
    text-align: center;
}

#game {
    width: 1400px;
    height: 600px;
    border: 2px solid black;
    margin: auto;
    background-image: url("backgroundBeta.png");
    background-size: cover;

}

#clown {
    height: 180px;
    width: 180px;
    position: relative;
    top: 390px;
    left: 5px;
    background-image: url("BetaGooseW.gif");
    background-size: cover;
}

#rock { 
    height: 130px;
    width: 130px;
    position: relative;
    top: 270px;
    left: 1275px;
    background-image: url("obsti1Bete.gif");
    background-size: cover;
    animation: rock 2.5s infinite;
}
@keyframes rock {
    0% {left: 1275px;}
    100% {left: -100px;}
}

.jump-animation{
    animation:jump .75s
}
@keyframes jump{
    0% {top: 390px;}
    25% {top: 225px;}
    50% {top: 0px;}
    75% {top: 255px;}
    100% {top: 390px;}
}